body {
    font-family: 'Open Sans', sans-serif;
}

header {
    .header-title {
        h1 {
            font-size: 100px;
            font-weight: 600;
        }
    }
    .main-navigation {
          li {
            a {
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}

.front-page {
    .main-carousel {
        .carousel-indicators {
            //font-size: 14px;
        }
    }
}

.comments-page {
    .comment-list {
        .comment {
            h3, .reply {
                font-size: 17px;
                font-weight: 600;
                font-style: italic;
            }
            .reply{
                font-size: 17px;
                font-weight: 700;
                font-style: italic;
                a{
                    font-weight: 500;
                }
            }
            .comment-text {
                font-size: 16px;
                font-weight: 500;
            }
            .comment-meta {
                .fn {
                    font-size: 19px;
                    font-weight: 800;
                }
            }
        }

    }
    .comment-navigation{
        .nav-link-more, .nav-link-back{
            font-weight: 400;
            font-size: 18px;
        }
    }
    .comment-respond {
        h3 {
            font-size: 30px;
            font-weight: 800;
        }
        form {
            label, input {
                font-size: 21px;
                font-weight: 600;
            }
        }
    }
}

.gallery-page {
    .album-title {
        font-size: 19px;
        font-weight: 600;
    }
    .album-date {
        font-size: 18px;
        font-style: italic;
        font-weight: 300;
    }
}

.project-page{
    h1{
        font-size: 38px;
        font-weight: 400;
        font-style: italic;
    }
    .entry-content{
        p,li{
            font-size: 18px;
        }

    }
}

