body {
    font-family: 'Open Sans', sans-serif;
}

header {
    .header-title {
        h1 {
            font-size: 100px;
            font-weight: 600;
        }
    }
    .main-navigation {
        background: lightgray;
        li {
            a {
                font-size: 14px
            }
        }
    }
}

.front-page {
    .main-carousel {
        .carousel-indicators {
            //font-size: 14px;
        }
    }
}

.comments-page {
    .comment-list {
        .comment {
            h3, .reply {
                font-size: 20px;
                font-weight: 600;
                font-style: italic;
            }
            .comment-text {
                font-size: 16px;
                font-weight: 500;
            }
            .comment-meta {
                .fn {
                    font-size: 20px;
                    font-weight: 800;

                }
            }

        }

    }
    .comment-respond {
        h3 {
            font-size: 32px;
            font-weight: 800;
        }
        form {
            label, input {
                font-size: 21px;
                font-weight: 600;
            }
        }
    }
}

.gallery-page{
    .album-title {
        font-size: 19px;
        font-weight: 400;
    }
    .album-date{
        font-size: 18px;
        font-style: italic;
    }
}

