footer#colophon {
    padding: 15px 0;
    border-top: 1px solid grey;
    .container-inner {
        padding: 10px 0;
        .footer-block {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            .footer-block-inner {
                width: 50%;
                &:first-child {
                    @include clearfix;
                    padding-top: 10px;
                    .copyright-wrap {
                        @include clearfix;
                        div {
                            float: left;
                        }
                    }
                }
                &:last-child {
                    .footer-menu {
                        @include clearfix;
                        ul {
                            @include clearfix;
                            float: right;
                            li {
                                float: left;
                                a {
                                    display: block;
                                    box-sizing: border-box;
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}