body {
    background-color: #d1c3d0;
}

header#masthead {
    .main-navigation {
        background: #daaccf;
        li {
            a {
                color: #333;
            }
            &:hover {
                background: #8d73bc;
            }
            .sub-menu {
                background: #daaccf;
            }
        }
        .current-menu-item {
                background: #8d73bc;
        }
    }
}