body {
    background-color: #f8f8ff;
    color: #666;
}

header#masthead {
    background: rgba(222, 178, 214, 1);
    background: -moz-linear-gradient(left, rgba(222, 178, 214, 1) 0%, rgba(222, 178, 214, 1) 12%, rgba(227, 214, 225, 1) 32%, rgba(240, 216, 236, 1) 39%, rgba(237, 225, 235, 1) 49%, rgba(237, 220, 234, 1) 59%, rgba(240, 218, 240, 1) 72%, rgba(230, 214, 250, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(222, 178, 214, 1) 0%, rgba(222, 178, 214, 1) 12%, rgba(227, 214, 225, 1) 32%, rgba(240, 216, 236, 1) 39%, rgba(237, 225, 235, 1) 49%, rgba(237, 220, 234, 1) 59%, rgba(240, 218, 240, 1) 72%, rgba(230, 214, 250, 1) 100%);
    background: -o-linear-gradient(left, rgba(222, 178, 214, 1) 0%, rgba(222, 178, 214, 1) 12%, rgba(227, 214, 225, 1) 32%, rgba(240, 216, 236, 1) 39%, rgba(237, 225, 235, 1) 49%, rgba(237, 220, 234, 1) 59%, rgba(240, 218, 240, 1) 72%, rgba(230, 214, 250, 1) 100%);
    background: -ms-linear-gradient(left, rgba(222, 178, 214, 1) 0%, rgba(222, 178, 214, 1) 12%, rgba(227, 214, 225, 1) 32%, rgba(240, 216, 236, 1) 39%, rgba(237, 225, 235, 1) 49%, rgba(237, 220, 234, 1) 59%, rgba(240, 218, 240, 1) 72%, rgba(230, 214, 250, 1) 100%);
    background: linear-gradient(to right, rgba(222, 178, 214, 1) 0%, rgba(222, 178, 214, 1) 12%, rgba(227, 214, 225, 1) 32%, rgba(240, 216, 236, 1) 39%, rgba(237, 225, 235, 1) 49%, rgba(237, 220, 234, 1) 59%, rgba(240, 218, 240, 1) 72%, rgba(230, 214, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deb2d6', endColorstr='#e6d6fa', GradientType=1);
    .main-navigation {
        .main-nav-menu {
            ul.menu {
                & > .menu-item {
                    a {
                        color: #708090;
                    }
                    &:hover {
                        border-bottom: 5px solid #dda0dd;
                        & > a {
                            color: #1a1a1a;
                        }
                    }
                    .sub-menu {
                        background: rgba(237,220,234,1);
                        li {
                            &:hover {
                                a {
                                    color: #1a1a1a;
                                }
                            }
                        }
                    }
                }
                .current-menu-item {
                    border-bottom-color: #dda0dd;
                    a {
                        color: #1a1a1a;
                    }
                }
            }
        }
    }
}

footer#colophon {
    background-color: #e6e6fa;
    a {
        color: #666;
    }
}
