// contacts-page layout
.contacts-page {

    .contacts-wrapper {
        padding: 20px 15px;
    }

    .contacts-text, .contacts-map {
        box-sizing: border-box;
        width: 100%;
    }

    .contacts-map {
        text-align: center;
    }

    iframe {
        width: 100%;
    }

    // blocks formatting
    h2 {
        margin-top: 30px;
        margin-bottom: 15px;
        text-align: center;
    }

    h3 {
        margin-bottom: 20px;
    }

    .contacts-item-text {
        margin-bottom: 20px;
    }

    @media (min-width: 850px) {
        .contacts-text, .contacts-map {
            width: 50%;
            float: left;
            padding: 20px;
        }

        .contacts-map {
            width: 70%;
        }

        .contacts-text {
            width: 30%;
        }
    }
}
