.front-page {
    main.site-main {
        padding-bottom: 30px;
    }
    .main-carousel {
        margin: 0 auto;
        .carousel-inner {
            & > li {
                margin: 0;
                img {
                    width: 100%;
                }
            }
        }
    }
    article {
        margin: 0 auto;
        text-align: justify;
        img {
            margin: 0 25px 10px 25px;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px #d4e2e5, 23px 0 20px -23px #d4e2e5, 0 0 40px rgba(0, 0, 0, .1) inset;
            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
}
